.addcomment {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
.addcomment:hover {
  background-color: #3e8e41;
}

.addcomment:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body {
  background-color: lightblue;
}
